<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>排序</th>
      <th>博文内容</th>
      <th>发布账号</th>
      <th>发布时间</th>
      <th>评论数</th>
      <th>点赞数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>【#云南普洱是世界茶叶的发源地#】云南景迈山有万亩古茶园和十多座千年古寨...</td>
      <td>央视新闻</td>
      <td>2022-12-12</td>
      <td>389</td>
      <td>1959</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>【寻找版纳 | 黎明之城的独奏 THE SPIRIT OF TROPICAL CITY】远在边陲之地的西双版纳...</td>
      <td>克里斯旅行狂魔</td>
      <td>2023-01-05</td>
      <td>116</td>
      <td>650</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>#地理君小课堂#听说，云南的朋友又要放假了？泼水节又名“浴佛节”，傣语称为“比迈”（意为新年）...</td>
      <td>中国国家地理</td>
      <td>2023-04-12</td>
      <td>37</td>
      <td>277</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>基诺山寨。感觉还不错，过两天计划去翁基布朗族古寨看看。</td>
      <td>理记</td>
      <td>2023-02-11</td>
      <td>22</td>
      <td>113</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>#走近一线检察官#【边疆社会治理的景洪检察实践】11:10，“大家过年好！还记得我吗...</td>
      <td>最高人民检察院</td>
      <td>2023-04-11</td>
      <td>62</td>
      <td>83</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>澜沧景迈山的糯岗傣族古寨和翁基布朗族古寨，尤其是糯岗古寨里的人都非常的淳朴...</td>
      <td>沿**</td>
      <td>2023-03-16</td>
      <td>9</td>
      <td>79</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>景迈山翁基布朗族古寨#航拍# 在景迈山，不论是布朗族村寨，还是傣族村寨...</td>
      <td>鸿**</td>
      <td>2023-03-25</td>
      <td>13</td>
      <td>78</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>美丽的布朗族边境村，当作品融入生活，美可以带来无限的快乐。</td>
      <td>岩**</td>
      <td>2022-08-18</td>
      <td>6</td>
      <td>73</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>#小8的冰山冷知识# 公布答案时间：A[心] 云南普洱是世界茶叶的发源地...</td>
      <td>CCTV电视剧</td>
      <td>2022-12-13</td>
      <td>12</td>
      <td>32</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>2022年秋季佛事展上，有幸与一位与众不同的师父结了缘，他就是老曼峨总佛寺的仁德法师...</td>
      <td>公益慧</td>
      <td>2023-02-17</td>
      <td>3</td>
      <td>10</td>
    </tr>
  </tbody>
</table>